@tailwind base;
@tailwind components;
@tailwind utilities;


.sideways-text {
  text-orientation: mixed;
}

.slide-animation-short {
  animation: slideFromBottom 0.4s ease-out;
}
.slide-animation-medium {
  animation: slideFromBottom 0.7s ease-out;
}
.slide-animation-long {
  animation: slideFromBottom 1s ease-out;
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* CREDIT (MODIFIED): https://github.com/Chalarangelo/30-seconds-of-code/blob/master/content/snippets/css/s/hover-underline-animation.md */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
/* CREDIT (MODIFIED): https://github.com/Chalarangelo/30-seconds-of-code/blob/master/content/snippets/css/s/hover-underline-animation.md */
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
/* CREDIT: https://github.com/Chalarangelo/30-seconds-of-code/blob/master/content/snippets/css/s/hover-underline-animation.md */
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}